<ul class="nav nav-pills">
	<li ng-class="{ active:panel.isSelected(1) }"><a href="#" ng-click="panel.selectTab(1)">Description</a></li>
	<li ng-class="{ active:panel.isSelected(2) }"><a href="#" ng-click="panel.selectTab(2)">Specifications</a></li>
	<li ng-class="{ active:panel.isSelected(3) }"><a href="#" ng-click="panel.selectTab(3)">Reviews</a></li>
</ul>

<div class="panel" ng-show="panel.tab == 1">
	<h4>Description</h4>
	<p>{{product.description}}</p>
</div>

<div class="panel" ng-show="panel.tab == 2">
	<h4>Specifications</h4>
	<p>here</p>
</div>

<div class="panel" ng-show="panel.tab == 3">
	<h4>Reviews</h4>
	<blockquote class="review" ng-repeat="review in product.reviews">
		<strong>{{review.stars}} stars</strong>
		<p>{{review.body}}</p>
		<small>{{review.author}}</small>
	</blockquote>

	<h4>Submit a Review</h4>
	<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" class="form" novalidate>

		<blockquote>
			<strong>{{reviewCtrl.review.stars}} stars</strong>
			<p>{{reviewCtrl.review.body}}</p>
			<small>{{reviewCtrl.review.author}}</small>
		</blockquote>

		<div class="form-group">							
			<label for="">Stars</label>
			<select name="#" id="" class="form-control" ng-model="reviewCtrl.review.stars" required>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</div>

		<div class="form-group">
			<label for="">Review</label>
			<textarea ng-model="reviewCtrl.review.body" rows="5" class="form-control" required></textarea>						
		</div>

		<div class="form-group">							
			<label for="">Email</label>
			<input type="email" ng-model="reviewCtrl.review.author" class="form-control" required>
		</div>

		<div>our form is {{reviewForm.$valid}}</div>

		<button type="submit" class="btn btn-primary pull-right">Submit</button>
		<br>
	</form>
</div>